version: "3.9"
services:
  redis-a:
    container_name: redis-a
    image: redis
    command: redis-server /data/redis-a.conf
    networks:
      default:
        ipv4_address: 10.5.0.5
    volumes:
      - ".:/data"
  redis-b:
    container_name: redis-b
    image: redis
    command: redis-server /data/redis-b.conf
    networks:
      default:
        ipv4_address: 10.5.0.6
    volumes:
      - ".:/data"
  redis-c:
    container_name: redis-c
    image: redis
    command: redis-server /data/redis-c.conf
    networks:
      default:
        ipv4_address: 10.5.0.7
    volumes:
      - ".:/data"
  # some-redis:
  #   container_name: some-redis
  #   image: redis
  #   command: redis-server /data/redis.conf
  #   volumes:
  #     - ".:/data"
  # replica:
  #   container_name: replica
  #   image: redis
  #   command: redis-server --port 6379 --slaveof some-redis 6379
networks:
  default:
    name: some-network
    ipam:
      config:
        - subnet: 10.5.0.0/24
          gateway: 10.5.0.1
